<!DOCTYPE html>
<html lang="en">
<head>
    @{
        var shouldNoIndex = Context.Request.Path.Value?.StartsWith("/supercontrol-listing-site-demo", StringComparison.OrdinalIgnoreCase) == true;
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @if (shouldNoIndex)
    {
        <meta name="robots" content="noindex, nofollow" />
    }
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css" integrity="sha384-9KcNFt4axT+TNOVPHpwGHOm4Kv0UcMjdVya1kl+EPBQG+Vmqtz28cnx0f5PZYcnF" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/dist/app.min.css" asp-append-version="true" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.umd.js" integrity="sha384-xOY5eqzqHsjfa8YYAomICWjVJ3g9q1C1tWgRF09ut5PzRJjLFSpKH7gCsIN3hKcA" crossorigin="anonymous"></script>
    <script defer src="~/dist/app.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
